/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter', sans-serif;
    --font-accent: 'PressStart2P', cursive;
    
    --font-weight-text: 400; /* Основной вес текста */
    --font-weight-title: 700; /* Вес заголовков */

		--background:
			repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
			repeating-linear-gradient(180deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
			linear-gradient(180deg, #E7E7E7 0.01%, #1A1A1A 100%);

      --button-text-color: white;
      --button-bg-color: white;
      --button-hover-bg: black;

      --heart-outline: black;
      
      --heart-dark: rgb(0,0,0);
      --heart-accent: red;
      --heart-light: white;
}
